extends ./layout/index

block contenido
    main.container.py-5.contenedorNosotros
        .row.g-4.align-items-center
            .col-12.col-lg-6
                img.img-fluid.rounded(
                    src="/img/nosotros.jpg"
                    alt="Nosotros"
                )

            .col-12.col-lg-6
                h4.mb-1 Visítanos
                h3.mb-3 Deliciosso
                p.fw-semibold ¿Qué nos distingue?

                ul.mb-4
                    li Ambiente acogedor y familiar para que te sientas como en casa.
                    li Atención personalizada para hacer cada visita inolvidable.
                    li Platos excepcionales, cuidadosamente preparados por nuestros chefs.
                    li Eventos únicos que hacen que cada experiencia sea especial.
                    li La mejor comida que puedas disfrutar.

                .container.containerBotones
                    a.btn.btn-primary.btn-lg(href="/carta") Carta
                    a.btn.btn-primary.btn-lg(href="/reserva") Reserva








